@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Aoba</h1>
    <p>Bora aprender mais, <a href="https://docs.microsoft.com/aspnet/core">clica aqui que eu te levo pro tutorial</a>.</p>
</div>
